body {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-size: 14px;
}

.icon {
    height: 87px;
    width: 200px;
    background-color: #ffffff;
}

.form-style {
    margin-top: 10px;
    margin-bottom: 10px;
}

.label-table {
    color: #ffffff;
}

.label-table-coordinates {
    color: #ffffff;
}

.tableMetadata {
    border-collapse:collapse;
    border:none;
    width:90%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.tableMetadata td{
    padding: 2px;
}

.tableMetadata tr {
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
}

.col-xs {
    position: fixed;
    padding-right: 1px;
    padding-left: 1px;
    margin-bottom: 5px;
}

.field-uri {
    text-align: left;
    background-color: #25aae1;
    height: 100%;
    padding-bottom: 10px;
}

.metadata-info {
    text-align: left;
    background-color: #25aae1;
    height: 100%;
    padding-bottom: 10px;
}

.form-control {
  width: 110%;
}

.form-control-input {
    display: block;
    width: 100px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.navbar-bdo {
    background-image: -webkit-linear-gradient(top, #1965A2 0%, #1965A2 100%);
    background-image: -o-linear-gradient(top, #1965A2 0%, #1965A2 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1965A2), to(#1965A2));
    background-image: linear-gradient(to bottom, #1965A2 0%, #1965A2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-radius: 4px;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #25aae1;
    height: auto;
}

.row.content {
    margin-top: 5px;
    height: auto;
}

.sidenav {
    background-color: #25aae1;
    height: auto;
}

footer {
    background-color: #1965A2;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        margin-top: 5px;
        height: auto;
    }
}

.alert-dismissable .close,
.alert-dismissible .close {
    position: inherit;
    top: -2px;
    right: -21px;
    color: inherit;
}
