{% extends "layout.html" %}

{% block body %}
    <div class="row content">
        <div class="col-md-1">
        </div>          
        <div class="col-md-10 field-title">
          API documentation
          <label class="desc">
            Functions defined in BigDataOcean Harmonization Tool can be called with an <span class="pre">HTTP GET </span><span>request. The response to the function you call is in </span><span class="pre">JSON format</span><span>. Browser plugins like </span><a href="https://addons.mozilla.org/en-us/firefox/addon/jsonview/" target="_blank">JSONView for Firefox </a><span>or </span><a href="https://chrome.google.com/webstore/detail/jsonview/chklaanhfefbnpoihckbnefhakgolnmc" target="_blank">Chrome </a><span>will format and color BigDataOcean Harmonization Tool's JSON response nicely in your browser.</span> <br> <strong>The API request requires an authentication parameter. </strong>
          </label>
        </div>
        <div class="col-md-1">
        </div>
      </div>
    <div class="row content api-row" id="api">
        <div class="col-md-1">
        </div>
        <div class="col-md-10 metadata-info">
          <div class="apiGroupName">Search File Dataset</div>
          <div class="col-md-10 metadata-info" id="accordion">
            <h2>
              <span class="apiHttpMethod">get</span>
              <span class="apiPath">/api/v2/filedataset/list</span>
            </h2>
            <div>
              <div class="apiDesc">
                The List File Dataset API allows a user to list the file datasets of the BigDataOcean Harmonization Tool.
              </div>
              <h4 data-sw-translate="">Parameters</h4>
              <table class="apiTable">
                <thead>
                  <tr>
                    <th style="width: 200px" data-sw-translate="">Name</th>
                    <th style="width: 100px" data-sw-translate="">Required</th>
                    <th style="width: 200px" data-sw-translate="">Type</th>
                    <th style="width: 400px" data-sw-translate="">Description</th>
                  </tr>
                </thead>
                <tbody class="operation-params">
                  <tr>
                    <td>
                      <label>-</label>
                    </td>
                    <td>
                      <label>-</label>
                    </td>
                    <td>
                      <label>-</label>
                    </td>
                    <td>
                      <label>-</label>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="apiExample">For example, using the BigDataOcean Harmonization Tool API, your app can list all file datasets in BigDataOcean Harmonization<a href="/api/v2/filedataset/list" target="_blank">http://localhost:5000/api/v2/filedataset/list</a></div>
            </div>
            <h2>
              <span class="apiHttpMethod">get</span>
              <span class="apiPath">/api/v2/filedataset/info</span>
            </h2>
            <div>
              <div class="apiDesc">
                The Info File Dataset API allows a user to get details about one Dataset based on its metadata ID over the BigDataOcean Harmonization Tool.
              </div>
              <h4 data-sw-translate="">Parameters</h4>
              <table class="apiTable">
                <thead>
                  <tr>
                    <th style="width: 200px" data-sw-translate="">Name</th>
                    <th style="width: 100px" data-sw-translate="">Required</th>
                    <th style="width: 200px" data-sw-translate="">Type</th>
                    <th style="width: 400px" data-sw-translate="">Description</th>
                  </tr>
                </thead>
                <tbody class="operation-params">
                  <tr>
                    <td>
                      <label>search</label>
                    </td>
                    <td>
                      <label>True</label>
                    </td>
                    <td>
                      <label>String</label>
                    </td>
                    <td>
                      <label>Metadata ID of a file dataset e.g (“MEDSEA_ANALYSIS_FORECAST_WAV_006_011”)</label>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="apiExample">For example, using the BigDataOcean Harmonization Tool API, your app get the details about a specific file dataset "MEDSEA_ANALYSIS_FORECAST_WAV_006_011": <a href="/api/v2/filedataset/info?search=MEDSEA_ANALYSIS_FORECAST_WAV_006_011" target="_blank">http://localhost:5000/api/v2/filedataset/info?search=MEDSEA_ANALYSIS_FORECAST_WAV_006_011</a></div>
            </div>
            <h2>
              <span class="apiHttpMethod">get</span>
              <span class="apiPath">/api/v2/filedataset/searchTitle</span>
            </h2>
            <div>
              <div class="apiDesc">
                The Search Title File Dataset API allows a user to search over the BigDataOcean Harmonization Tool for a file dataset metadata based on its title.
              </div>
              <h4 data-sw-translate="">Parameters</h4>
              <table class="apiTable">
                <thead>
                  <tr>
                    <th style="width: 200px" data-sw-translate="">Name</th>
                    <th style="width: 100px" data-sw-translate="">Required</th>
                    <th style="width: 200px" data-sw-translate="">Type</th>
                    <th style="width: 400px" data-sw-translate="">Description</th>
                  </tr>
                </thead>
                <tbody class="operation-params">
                  <tr>
                    <td>
                      <label>search</label>
                    </td>
                    <td>
                      <label>True</label>
                    </td>
                    <td>
                      <label>String</label>
                    </td>
                    <td>
                      <label>Filter query results based on their title.</label>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="apiExample">For example, using the BigDataOcean Harmonization Tool API, your app can search for a (similar) title: <a href="/api/v2/filedataset/searchTitle?search=med" target="_blank">http://localhost:5000/api/v2/filedataset/searchTitle?search=med</a></div>
            </div>
            <h2>
              <span class="apiHttpMethod">get</span>
              <span class="apiPath">/api/v2/filedataset/searchDescription</span>
            </h2>
            <div>
              <div class="apiDesc">
                The Search Description File Dataset API allows a user to search over the BigDataOcean Harmonization Tool for a file dataset metadata based on its description.
              </div>
              <h4 data-sw-translate="">Parameters</h4>
              <table class="apiTable">
                <thead>
                  <tr>
                    <th style="width: 200px" data-sw-translate="">Name</th>
                    <th style="width: 100px" data-sw-translate="">Required</th>
                    <th style="width: 200px" data-sw-translate="">Type</th>
                    <th style="width: 400px" data-sw-translate="">Description</th>
                  </tr>
                </thead>
                <tbody class="operation-params">
                  <tr>
                    <td>
                      <label>search</label>
                    </td>
                    <td>
                      <label>True</label>
                    </td>
                    <td>
                      <label>String</label>
                    </td>
                    <td>
                      <label>Filter query results based on their description.</label>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="apiExample">For example, using the BigDataOcean Harmonization Tool API, your app can search for a (similar) description: <a href="/api/v2/filedataset/searchDescription?search=med" target="_blank">http://localhost:5000/api/v2/filedataset/searchDescription?search=med</a></div>
            </div>
            <h2>
              <span class="apiHttpMethod">get</span>
              <span class="apiPath">/api/v2/filedataset/searchSubject</span>
            </h2>
            <div>
              <div class="apiDesc">
                The Search Subject File Dataset API allows a user to search over the BigDataOcean Harmonization Tool for a file dataset metadata based on its subject.
              </div>
              <h4 data-sw-translate="">Parameters</h4>
              <table class="apiTable">
                <thead>
                  <tr>
                    <th style="width: 200px" data-sw-translate="">Name</th>
                    <th style="width: 100px" data-sw-translate="">Required</th>
                    <th style="width: 200px" data-sw-translate="">Type</th>
                    <th style="width: 400px" data-sw-translate="">Description</th>
                  </tr>
                </thead>
                <tbody class="operation-params">
                  <tr>
                    <td>
                      <label>search</label>
                    </td>
                    <td>
                      <label>True</label>
                    </td>
                    <td>
                      <label>String</label>
                    </td>
                    <td>
                      <label>Filter query results based on their subject. e.g (“Oceans”)</label>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="apiExample">For example, using the BigDataOcean Harmonization Tool API, your app can search for a subject or a list of subjects "Oceans": <a href="/api/v2/filedataset/searchSubject?search=Oceans" target="_blank">http://localhost:5000/api/v2/filedataset/searchSubject?search=Oceans</a></div>
            </div>
            <h2>
              <span class="apiHttpMethod">get</span>
              <span class="apiPath">/api/v2/filedataset/searchKeyword</span>
            </h2>
            <div>
              <div class="apiDesc">
                The Search Keyword File Dataset API allows a user to search over the BigDataOcean Harmonization Tool for a file dataset metadata based on its keyword.
              </div>
              <h4 data-sw-translate="">Parameters</h4>
              <table class="apiTable">
                <thead>
                  <tr>
                    <th style="width: 200px" data-sw-translate="">Name</th>
                    <th style="width: 100px" data-sw-translate="">Required</th>
                    <th style="width: 200px" data-sw-translate="">Type</th>
                    <th style="width: 400px" data-sw-translate="">Description</th>
                  </tr>
                </thead>
                <tbody class="operation-params">
                  <tr>
                    <td>
                      <label>search</label>
                    </td>
                    <td>
                      <label>True</label>
                    </td>
                    <td>
                      <label>String</label>
                    </td>
                    <td>
                      <label>Filter query results based on their keywords. e.g (“seashore”)</label>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="apiExample">For example, using the BigDataOcean Harmonization Tool API, your app can search for a keyword or a list of keywords "seashore": <a href="/api/v2/filedataset/searchKeyword?search=seashore" target="_blank">http://localhost:5000/api/v2/filedataset/searchKeyword?search=seashore</a></div>
            </div>
          </div>

          <div class="apiGroupName">Search File Dataset By Geographic and Time</div>
          <div class="col-md-10 metadata-info" id="accordion1">
            <h2>
              <span class="apiHttpMethod">get</span>
              <span class="apiPath">/api/v2/filedataset/searchGeoLocation</span>
            </h2>
            <div>
              <div class="apiDesc">
                The Search Geographic Location File Dataset API allows a user to search over the BigDataOcean Harmonization Tool for a file dataset metadata based on its geographic location.
              </div>
              <h4 data-sw-translate="">Parameters</h4>
              <table class="apiTable">
                <thead>
                  <tr>
                    <th style="width: 200px" data-sw-translate="">Name</th>
                    <th style="width: 100px" data-sw-translate="">Required</th>
                    <th style="width: 200px" data-sw-translate="">Type</th>
                    <th style="width: 400px" data-sw-translate="">Description</th>
                  </tr>
                </thead>
                <tbody class="operation-params">
                  <tr>
                    <td>
                      <label>search</label>
                    </td>
                    <td>
                      <label>True</label>
                    </td>
                    <td>
                      <label>String</label>
                    </td>
                    <td>
                      <label>Filter query results based on their geographic location. e.g (“Mediterranean Sea”)</label>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="apiExample">For example, using the BigDataOcean Harmonization Tool API, your app can search for a geographic location or a list of geographic locations "Mediterranean Sea": <a href="/api/v2/filedataset/searchGeoLocation?search=Mediterranean Sea" target="_blank">http://localhost:5000/api/v2/filedataset/searchGeoLocation?search=Mediterranean Sea</a></div>
            </div>
            <h2>
              <span class="apiHttpMethod">get</span>
              <span class="apiPath">/api/v2/filedataset/searchGeoCoverage</span>
            </h2>
            <div>
              <div class="apiDesc">
                The Search Geographic Coverage File Dataset API allows a user to search over the BigDataOcean Harmonization Tool for a file dataset metadata based on its geographic coverage.
              </div>
              <h4 data-sw-translate="">Parameters</h4>
              <table class="apiTable">
                <thead>
                  <tr>
                    <th style="width: 200px" data-sw-translate="">Name</th>
                    <th style="width: 100px" data-sw-translate="">Required</th>
                    <th style="width: 200px" data-sw-translate="">Type</th>
                    <th style="width: 400px" data-sw-translate="">Description</th>
                  </tr>
                </thead>
                <tbody class="operation-params">
                  <tr>
                    <td>
                      <label>W</label>
                    </td>
                    <td>
                      <label>True</label>
                    </td>
                    <td>
                      <label>String</label>
                    </td>
                    <td>
                      <label>Filter query results based on their geographic coverage = West</label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label>E</label>
                    </td>
                    <td>
                      <label>True</label>
                    </td>
                    <td>
                      <label>String</label>
                    </td>
                    <td>
                      <label>Filter query results based on their geographic coverage = East</label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label>S</label>
                    </td>
                    <td>
                      <label>True</label>
                    </td>
                    <td>
                      <label>String</label>
                    </td>
                    <td>
                      <label>Filter query results based on their geographic coverage = South</label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label>N</label>
                    </td>
                    <td>
                      <label>True</label>
                    </td>
                    <td>
                      <label>String</label>
                    </td>
                    <td>
                      <label>Filter query results based on their geographic coverage = North</label>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="apiExample">For example, using the BigDataOcean Harmonization Tool API, your app can search for  geographical coverage "W=-17.12 E=36.20 S=30 N=45.98": <a href="/api/v2/filedataset/searchGeoCoverage?W=-17.12&E=36.20&S=30&N=45.98" target="_blank">http://localhost:5000/api/v2/filedataset/searchGeoCoverage?W=-17.12&E=36.20&S=30&N=45.98</a></div>
            </div>
            <h2>
              <span class="apiHttpMethod">get</span>
              <span class="apiPath">/api/v2/filedataset/searchVerticalCoverage</span>
            </h2>
            <div>
              <div class="apiDesc">
                The Search Vertical Coverage File Dataset API allows a user to search over the BigDataOcean Harmonization Tool for a file dataset metadata based on its vertical coverage.
              </div>
              <h4 data-sw-translate="">Parameters</h4>
              <table class="apiTable">
                <thead>
                  <tr>
                    <th style="width: 200px" data-sw-translate="">Name</th>
                    <th style="width: 100px" data-sw-translate="">Required</th>
                    <th style="width: 200px" data-sw-translate="">Type</th>
                    <th style="width: 400px" data-sw-translate="">Description</th>
                  </tr>
                </thead>
                <tbody class="operation-params">
                  <tr>
                    <td>
                      <label>from</label>
                    </td>
                    <td>
                      <label>True</label>
                    </td>
                    <td>
                      <label>String</label>
                    </td>
                    <td>
                      <label>Filter query results based on their vertical coverage = from</label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label>to</label>
                    </td>
                    <td>
                      <label>True</label>
                    </td>
                    <td>
                      <label>String</label>
                    </td>
                    <td>
                      <label>Filter query results based on their vertical coverage = to</label>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="apiExample">For example, using the BigDataOcean Harmonization Tool API, your app can search for vertical coverage "from=0 to=0": <a href="/api/v2/filedataset/searchVerticalCoverage?from=0&to=0" target="_blank">http://localhost:5000/api/v2/filedataset/searchVerticalCoverage?from=0&to=0</a></div>
            </div>
            <h2>
              <span class="apiHttpMethod">get</span>
              <span class="apiPath">/api/v2/filedataset/searchTemporalCoverage</span>
            </h2>
            <div>
              <div class="apiDesc">
                The Search Temporal Coverage File Dataset API allows a user to search over the BigDataOcean Harmonization Tool for a file dataset metadata based on its temporal coverage.
              </div>
              <h4 data-sw-translate="">Parameters</h4>
              <table class="apiTable">
                <thead>
                  <tr>
                    <th style="width: 200px" data-sw-translate="">Name</th>
                    <th style="width: 100px" data-sw-translate="">Required</th>
                    <th style="width: 200px" data-sw-translate="">Type</th>
                    <th style="width: 400px" data-sw-translate="">Description</th>
                  </tr>
                </thead>
                <tbody class="operation-params">
                  <tr>
                    <td>
                      <label>begin</label>
                    </td>
                    <td>
                      <label>True</label>
                    </td>
                    <td>
                      <label>String</label>
                    </td>
                    <td>
                      <label>Filter query results based on their temporal coverage = begin</label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label>end</label>
                    </td>
                    <td>
                      <label>False</label>
                    </td>
                    <td>
                      <label>String</label>
                    </td>
                    <td>
                      <label>Filter query results based on their temporal coverage = end</label>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="apiExample">For example, using the BigDataOcean Harmonization Tool API, your app can search for temporal coverage "begin=2016-08-01T00:00:00 end=": <a href="/api/v2/filedataset/searchTemporalCoverage?begin=2016-08-01T00:00:00&end=" target="_blank">http://localhost:5000/api/v2/filedataset/searchTemporalCoverage?begin=2016-08-01T00:00:00&end=</a></div>
            </div>
          </div>

          <div class="apiGroupName">Search Variable</div>
          <div class="col-md-10 metadata-info" id="accordion2">
            <h2>
              <span class="apiHttpMethod">get</span>
              <span class="apiPath">/api/v2/variable/list</span>
            </h2>
            <div>
              <div class="apiDesc">
                The List Variables File Dataset API allows a user to list the variables based on its metadata ID of a file dataset over the BigDataOcean Harmonization Tool.
              </div>
              <h4 data-sw-translate="">Parameters</h4>
              <table class="apiTable">
                <thead>
                  <tr>
                    <th style="width: 200px" data-sw-translate="">Name</th>
                    <th style="width: 100px" data-sw-translate="">Required</th>
                    <th style="width: 200px" data-sw-translate="">Type</th>
                    <th style="width: 400px" data-sw-translate="">Description</th>
                  </tr>
                </thead>
                <tbody class="operation-params">
                  <tr>
                    <td>
                      <label>search</label>
                    </td>
                    <td>
                      <label>True</label>
                    </td>
                    <td>
                      <label>String</label>
                    </td>
                    <td>
                      <label>Metadata ID of a file dataset e.g (“MEDSEA_ANALYSIS_FORECAST_WAV_006_011”)</label>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="apiExample">For example, using the BigDataOcean Harmonization Tool API, your app can list the variables of a specific file dataset "MEDSEA_ANALYSIS_FORECAST_WAV_006_011": <a href="/api/v2/variable/list?search=MEDSEA_ANALYSIS_FORECAST_WAV_006_011" target="_blank">http://localhost:5000/api/v2/variable/list?search=MEDSEA_ANALYSIS_FORECAST_WAV_006_011</a></div>
            </div>
            <h2>
              <span class="apiHttpMethod">get</span>
              <span class="apiPath">/api/v2/variable/search</span>
            </h2>
            <div>
              <div class="apiDesc">
                The Search Variable File Dataset API allows a user to search over the BigDataOcean Harmonization Tool for a file dataset metadata based on its canonical variable.
              </div>
              <h4 data-sw-translate="">Parameters</h4>
              <table class="apiTable">
                <thead>
                  <tr>
                    <th style="width: 200px" data-sw-translate="">Name</th>
                    <th style="width: 100px" data-sw-translate="">Required</th>
                    <th style="width: 200px" data-sw-translate="">Type</th>
                    <th style="width: 400px" data-sw-translate="">Description</th>
                  </tr>
                </thead>
                <tbody class="operation-params">
                  <tr>
                    <td>
                      <label>search</label>
                    </td>
                    <td>
                      <label>True</label>
                    </td>
                    <td>
                      <label>String</label>
                    </td>
                    <td>
                      <label>Filter query results based on their canonical variables</label>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="apiExample">For example, using the BigDataOcean Harmonization Tool API, your app can list file datasets that has a canonical variable or a list of canonical variables "sea_surface_wave_significant_height,latitude": <a href="/api/v2/variable/search?search=sea_surface_wave_significant_height,latitude" target="_blank">http://localhost:5000/api/v2/variable/search?search=sea_surface_wave_significant_height,latitude</a></div>
            </div>
          </div>

          <div class="apiGroupName">Search Dataset</div>
          <div class="col-md-10 metadata-info" id="accordion3">
            <h2>
              <span class="apiHttpMethod">get</span>
              <span class="apiPath">/api/v2/dataset/list</span>
            </h2>
            <div>
              <div class="apiDesc">
                The List Dataset API allows a user to list the datasets of the BigDataOcean Harmonization Tool.
              </div>
              <h4 data-sw-translate="">Parameters</h4>
              <table class="apiTable">
                <thead>
                  <tr>
                    <th style="width: 200px" data-sw-translate="">Name</th>
                    <th style="width: 100px" data-sw-translate="">Required</th>
                    <th style="width: 200px" data-sw-translate="">Type</th>
                    <th style="width: 400px" data-sw-translate="">Description</th>
                  </tr>
                </thead>
                <tbody class="operation-params">
                  <tr>
                    <td>
                      <label>-</label>
                    </td>
                    <td>
                      <label>-</label>
                    </td>
                    <td>
                      <label>-</label>
                    </td>
                    <td>
                      <label>-</label>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="apiExample">For example, using the BigDataOcean Harmonization Tool API, your app can list all datasets in BigDataOcean Harmonization<a href="/api/v2/dataset/list" target="_blank">http://localhost:5000/api/v2/dataset/list</a></div>
            </div>
            <h2>
              <span class="apiHttpMethod">get</span>
              <span class="apiPath">/api/v2/dataset/info</span>
            </h2>
            <div>
              <div class="apiDesc">
                The Info Dataset API allows a user to get details about one Dataset based on its storage table name over the BigDataOcean Harmonization Tool.
              </div>
              <h4 data-sw-translate="">Parameters</h4>
              <table class="apiTable">
                <thead>
                  <tr>
                    <th style="width: 200px" data-sw-translate="">Name</th>
                    <th style="width: 100px" data-sw-translate="">Required</th>
                    <th style="width: 200px" data-sw-translate="">Type</th>
                    <th style="width: 400px" data-sw-translate="">Description</th>
                  </tr>
                </thead>
                <tbody class="operation-params">
                  <tr>
                    <td>
                      <label>search</label>
                    </td>
                    <td>
                      <label>True</label>
                    </td>
                    <td>
                      <label>String</label>
                    </td>
                    <td>
                      <label>Filter query results based on their storage table name. e.g (“weather”)</label>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="apiExample">For example, using the BigDataOcean Harmonization Tool API, your app get the details about storage table name "weather": <a href="/api/v2/dataset/info?search=weather" target="_blank">http://localhost:5000/api/v2/dataset/info?search=weather</a></div>
            </div>
            <h2>
              <span class="apiHttpMethod">get</span>
              <span class="apiPath">/api/v2/dataset/listFileDatasets</span>
            </h2>
            <div>
              <div class="apiDesc">
                The List File Datasets of a Dataset API allows a user to list the file Datasets based on its storage table name over the BigDataOcean Harmonization Tool.
              </div>
              <h4 data-sw-translate="">Parameters</h4>
              <table class="apiTable">
                <thead>
                  <tr>
                    <th style="width: 200px" data-sw-translate="">Name</th>
                    <th style="width: 100px" data-sw-translate="">Required</th>
                    <th style="width: 200px" data-sw-translate="">Type</th>
                    <th style="width: 400px" data-sw-translate="">Description</th>
                  </tr>
                </thead>
                <tbody class="operation-params">
                  <tr>
                    <td>
                      <label>search</label>
                    </td>
                    <td>
                      <label>True</label>
                    </td>
                    <td>
                      <label>String</label>
                    </td>
                    <td>
                      <label>Filter query results based on their storage table name. e.g (“weather”)</label>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="apiExample">For example, using the BigDataOcean Harmonization Tool API, your app can list all the file datasets which have storage table name "weather": <a href="/api/v2/dataset/listFileDatasets?search=weather" target="_blank">http://localhost:5000/api/v2/dataset/listFileDatasets?search=weather</a></div>
            </div>
            <h2>
              <span class="apiHttpMethod">get</span>
              <span class="apiPath">/api/v2/dataset/listVariables</span>
            </h2>
            <div>
              <div class="apiDesc">
                The List Variables Dataset API allows a user to list the variables based on its storage table name over the BigDataOcean Harmonization Tool.
              </div>
              <h4 data-sw-translate="">Parameters</h4>
              <table class="apiTable">
                <thead>
                  <tr>
                    <th style="width: 200px" data-sw-translate="">Name</th>
                    <th style="width: 100px" data-sw-translate="">Required</th>
                    <th style="width: 200px" data-sw-translate="">Type</th>
                    <th style="width: 400px" data-sw-translate="">Description</th>
                  </tr>
                </thead>
                <tbody class="operation-params">
                  <tr>
                    <td>
                      <label>search</label>
                    </td>
                    <td>
                      <label>True</label>
                    </td>
                    <td>
                      <label>String</label>
                    </td>
                    <td>
                      <label>Filter query results based on their storage table</label>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="apiExample">For example, using the BigDataOcean Harmonization Tool API, your app can list the variables that has a dataset based on the storage table name "weather": <a href="/api/v2/dataset/listVariables?search=weather" target="_blank">http://localhost:5000/api/v2/dataset/listVariables?search=weather</a></div>
            </div>
          </div>

          <div class="apiGroupName">Other</div>
            <div class="col-md-10 metadata-info" id="accordion4">
            <h2>
              <span class="apiPostHttpMethod">post</span>
              <span class="apiPath">/auth</span>
            </h2>
            <div>
              <div class="apiDesc">
                The Authentication API allows a user to create an authorization code to use the APIs.
              </div>
              <h4 data-sw-translate="">Parameters</h4>
              <table class="apiTable">
                <thead>
                  <tr>
                    <th style="width: 200px" data-sw-translate="">Name</th>
                    <th style="width: 100px" data-sw-translate="">Required</th>
                    <th style="width: 200px" data-sw-translate="">Type</th>
                    <th style="width: 400px" data-sw-translate="">Description</th>
                  </tr>
                </thead>
                <tbody class="operation-params">
                  <tr>
                    <td>
                      <label>username</label>
                    </td>
                    <td>
                      <label>True</label>
                    </td>
                    <td>
                      <label>String</label>
                    </td>
                    <td>
                      <label>User Name</label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label>password</label>
                    </td>
                    <td>
                      <label>True</label>
                    </td>
                    <td>
                      <label>String</label>
                    </td>
                    <td>
                      <label>Password</label>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="apiExample">For example, 
                <pre class="prettyprint">
                  curl -X POST \
                  http://localhost:5000/auth \
                  -H 'Content-Type: application/json' \
                  -d '{
                    "username": "put here username",
                    "password": "put here password"
                    }'
                </pre>
              </div>
            </div>
            {% if g.user %}
              <h2>
                <span class="apiPostHttpMethod">post</span>
                <span class="apiPath">/api/v2/filedataset/insertAutomatic</span>
              </h2>
              <div>
                <div class="apiDesc">
                  The Insert Automatic API allows a user to add new file dataset metadata over the BigDataOcean Harmonization Tool.
                </div>
                <h4 data-sw-translate="">Parameters</h4>
                <table class="apiTable">
                  <thead>
                    <tr>
                      <th style="width: 200px" data-sw-translate="">Name</th>
                      <th style="width: 100px" data-sw-translate="">Required</th>
                      <th style="width: 200px" data-sw-translate="">Type</th>
                      <th style="width: 400px" data-sw-translate="">Description</th>
                    </tr>
                  </thead>
                  <tbody class="operation-params">
                    <tr>
                      <td>
                        <label>fileName</label>
                      </td>
                      <td>
                        <label>True</label>
                      </td>
                      <td>
                        <label>String</label>
                      </td>
                      <td>
                        <label>HDFS URL</label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label>idFile</label>
                      </td>
                      <td>
                        <label>True</label>
                      </td>
                      <td>
                        <label>String</label>
                      </td>
                      <td>
                        <label>ID File</label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label>idProfile</label>
                      </td>
                      <td>
                        <label>True</label>
                      </td>
                      <td>
                        <label>String</label>
                      </td>
                      <td>
                        <label>ID Profile</label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label>produce</label>
                      </td>
                      <td>
                        <label>True</label>
                      </td>
                      <td>
                        <label>Boolean</label>
                      </td>
                      <td>
                        <label>Activate Kafka "Produce" operations</label>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="apiExample">For example, 
                  <pre class="prettyprint">
                    curl -X POST \
                      http://localhost:5000/api/v2/filedataset/insertAutomatic \
                      -H 'Authorization: put here JWT authorization code' \
                      -H 'Content-Type: application/json' \
                      -d '{ 
                        "fileName": "put here URL HDFS dataset file",  
                        "idFile":"put here ID file", 
                        "idProfile":"put here ID profile", 
                        "produce": "put here true or false"  
                      }'
                  </pre>
                </div>
              </div>
            {% endif %}
          </div>

        </div>
        <div class="col-md-1">
        </div>
    </div>
    
    <div class="row content">
    </div>
{% endblock %}

{% block extracssjs %}
  <script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/api.css">
  <link rel="stylesheet" href="static/css/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/jquery-confirm.css">
  <link rel="stylesheet" href="static/css/bootstrap-tokenfield.css">
  <link rel="stylesheet" href="static/css/tokenfield-typeahead.css">
  <link rel="stylesheet" href="static/css/easy-autocomplete.min.css"> 
  <link rel="stylesheet" href="static/css/easy-autocomplete.themes.min.css"> 

  <script type='text/javascript' src="static/js/apiScript.js"></script>
  <script src="static/js/jquery-confirm.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="static/js/Bloodhound.js"></script>
  <script src="static/js/bootstrap-tokenfield.js"></script>
  <script src="static/js/typeahead.bundle.js"></script>
  <script src="static/js/jquery.easy-autocomplete.min.js"></script> 
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
{% endblock %}