{% extends "layout.html" %}

{% block body %}
  <div class="row content">
    <div class="col-md-1">
    </div>
    <div class="col-md-10 field-title">
      Aggregated Dataset List
    </div>
    <div class="col-md-1">
    </div>
  </div>
  <div class="row content">
    <div class="col-md-1">
    </div>
    <div class="col-md-10 field-uri" id='div_typeuri' style='display: none;'>
      <div class="col-md-12">
        <label class="label-table" for="sel1">Select the type of dataset you want to add:</label>
      </div>
      <div class="col-md-12">
        <select class="form-control" id="sel1" onchange="selectType()">
          <option selected disabled hidden></option>
          <option>Copernicus Dataset</option>
          <option>NetCDF Dataset File</option>
          <option>CSV Dataset File</option>
          <option>Excel Dataset File</option>
          <option>Other</option>
        </select>
      </div>
      <!--COPERNICUS URL-->
      <div id='copernicusDiv' class="col-md-12" style='display: none;'>
        <form id="uriForm" name="uriForm" class="form-style" method='post' action="/addMetadata/Copernicus" onsubmit="return requireUri();"> <!--enctype=multipart/form-data>-->
          <div class="col-md-2">
            <label class="label-table" for="uri">URI:</label>
          </div>
          <div class="col-md-10">
            <input type="url" class="form-control" id="uri" name="uri">
          </div>
          <div class="col-md-12" style="padding-right: auto;">
            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Add
            </button>
          </div>
        </form>
      </div>
      <!--OTHER-->
      <div id='otherDiv' class="col-md-12" style="padding-right: auto; display: none;">
        <form id="uriForm" name="uriForm" class="form-style" method='post' action="/addMetadata" onsubmit="return requireUri();">
          <div class="col-md-10" style='display: none;'>
            <input type="url" class="form-control" id="uri" name="uri">
          </div>
          <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Add
          </button>
        </form>
      </div>
      <!--NETCDF FILE-->
      <div id='netcdfDiv' class="col-md-10" style='display: none;'>
        <form id="uriForm" name="uriForm" class="form-style" method='post' action="/addMetadata/NetCDF" onsubmit="return requireUri();" enctype="multipart/form-data">
          <div class="col-md-2">
            <label class="label-table" for="uri">File:</label>
          </div>
          <div class="col-md-10">
            <input name="fileNetcdf" id="fileNetcdf" type="file" class="form-control" accept='.nc'>
          </div>
          <div class="col-md-12" style="padding-right: auto;">
            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Add
            </button>
          </div>
        </form>
      </div>
      <!--CSV FILE-->
      <div id='csvDiv' class="col-md-10" style='display: none;'>
        <form id="uriForm" name="uriForm" class="form-style" method='post' action="/addMetadata/CSV" onsubmit="return requireUri();" enctype="multipart/form-data">
          <div class="col-md-2">
            <label class="label-table" for="uri">File:</label>
          </div>
          <div class="col-md-10">
            <input name="fileCsv" id="fileCsv" type="file" class="form-control" accept='.csv'>
          </div>
          <div class="col-md-12" style="padding-right: auto;">
            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Add
            </button>
          </div>
        </form>
      </div>
      <!--EXCEL FILE-->
      <div id='excelDiv' class="col-md-10" style='display: none;'>
        <form id="uriForm" name="uriForm" class="form-style" method='post' action="/addMetadata/EXCEL" onsubmit="return requireUri();" enctype="multipart/form-data">
          <div class="col-md-2">
            <label class="label-table" for="uri">File:</label>
          </div>
          <div class="col-md-10">
            <input name="fileExcel" id="fileExcel" type="file" class="form-control" accept='.xls, .xlsx'>
          </div>
          <div class="col-md-12" style="padding-right: auto;">
            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Add
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-1">
    </div>
  </div>
  <div class="row content metadata-row" id="metadata">
      <div class="col-md-1">
      </div>
      <div class="col-md-10 metadata-info">
        <div id="toolbar">
          {% if g.user %}
            <button id="showDiv" class="btn btn-default" onclick="this.disabled=true; toggleLayer( 'div_typeuri' )" >
              <i class="glyphicon glyphicon-plus"></i> Add
            </button>
          {% endif %}
        </div>
        <table id="tableDatasets" data-toggle="true"
          data-toolbar="#toolbar"
          data-search="true"
          data-pagination="true"
          data-show-columns="true"
          data-page-list="[10, 25, 50, ALL]">
          <thead>
            <tr>
                <th class="col-xs-1" data-field="storage">Storage Table</th>
                <th class="col-xs-6" data-field="title">Title</th>
                <th class="col-xs-4" data-field="description">Description</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="col-md-1">
      </div>
  </div>
  
  <div class="row content">
  </div>
{% endblock %}

{% block extracssjs %}
  <script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
  <link rel="stylesheet" href="static/css/jquery-confirm.css">
  <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
  <script type='text/javascript' src="static/js/indexScript.js"></script>
  <script src="static/js/jquery-confirm.js"></script>
  <script type='text/javascript'>
    //Show the data in the tableDatasets
    $(window).load(function(){
      var data = {{data|tojson}};
      var columns = {{columns|tojson}};
      $(function() {
        $('#tableDatasets').bootstrapTable({ 
          data: data,
          columns: columns,
        });
      });
    });
  </script>
{% endblock %}