{% extends "layout.html" %}

{% block body %}
  <div class="row content">
    <div class="col-md-1">
    </div>
    <div class="col-md-10 field-title">
      Pending File Dataset List
    </div>
    <div class="col-md-1">
    </div>
  </div>
  <div class="row content metadata-row" id="metadata">
      <div class="col-md-1">
      </div>
      <div class="col-md-10 metadata-info">
        <div id="toolbar">
          <button id="addButton" class="btn btn-default">
            <i class="glyphicon glyphicon-plus"></i> Add
          </button>
        </div>
        <div class="alert alert-info">
           <i class="glyphicon glyphicon-info-sign"></i> Here you can find the dataset files without metadata.
        </div>
        <table id="tableList" data-toggle="true"
          data-toolbar="#toolbar"
          data-search="true"
          data-pagination="true"
          data-page-list="[10, 25, 50, ALL]">
        </table>
      </div>
      <div class="col-md-1">
      </div>
  </div>
  
  <div class="row content">
  </div>
{% endblock %}

{% block extracssjs %}
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="static/css/style.css">
<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
<link rel="stylesheet" href="static/css/jquery-confirm.css">
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
<script type='text/javascript' src="static/js/indexScript.js"></script>
<script src="static/js/jquery-confirm.js"></script>
<script type='text/javascript'>
  //Show the data in the tableList
  $(window).load(function(){
    var data = {{data|tojson}};
    var columns = {{columns|tojson}};

    $(function() {
      $('#tableList').bootstrapTable({ 
        data: data,
        columns: columns,
      });
      $('#tableList').bootstrapTable('hideColumn', 'id');
      $('#tableList').bootstrapTable('hideColumn', 'hdfsFullURI');
    });
    var $table = $('#tableList');

    $(function () {
        $table.on('click-row.bs.table', function (e, row, $element) {
            $('.success').removeClass('success');
            $($element).addClass('success');
        });
        $('#addButton').click(function () {
          // veriy if user select a row
          if(getSelectedRow() != undefined){
            var fullPath = getSelectedRow().hdfsFullURI;
            var filename = fullPath.replace(/^.*[\\\/]/, '')
            var tokens = filename.split(/(?:\.([^.]+))?$/);
            var extension = tokens[1];
            //verify if the selected row is netcdf dataType or other
            if(extension == "nc"){
              $.confirm({
                title: 'Warning!',
                content: 'Parsing the dataset might take a little time. Please be patient.',
                type: 'orange',
                useBootstrap: true,
                typeAnimated: true,
                buttons: {
                  delete: {
                    text: 'Ok',
                    btnClass: 'btn-green',
                    action: function(){
                      return location.href = '/addMetadata/NetCDF?file=' + getSelectedRow().hdfsFullURI + '&idFile=' +
                      getSelectedRow().id;
                    }
                  },
                  cancel: function(){
                  }
                }
              });
            } else if(extension == "csv"){
              $.confirm({
                title: 'Warning!',
                content: 'Parsing the dataset might take a little time. Please be patient.',
                type: 'orange',
                useBootstrap: true,
                typeAnimated: true,
                buttons: {
                  delete: {
                    text: 'Ok',
                    btnClass: 'btn-green',
                    action: function(){
                      return location.href = '/addMetadata/CSV?file=' + getSelectedRow().hdfsFullURI + '&idFile=' +
                      getSelectedRow().id;
                    }
                  },
                  cancel: function(){
                  }
                }
              });
            } else if(extension == "xls" || extension == "xlsx"){
              $.confirm({
                title: 'Warning!',
                content: 'Parsing the dataset might take a little time. Please be patient.',
                type: 'orange',
                useBootstrap: true,
                typeAnimated: true,
                buttons: {
                  delete: {
                    text: 'Ok',
                    btnClass: 'btn-green',
                    action: function(){
                      return location.href = '/addMetadata/EXCEL?file=' + getSelectedRow().hdfsFullURI + '&idFile=' +
                      getSelectedRow().id;
                    }
                  },
                  cancel: function(){
                  }
                }
              });
            } else {
              $.confirm({
                title: 'Warning!',
                content: 'Parsing the dataset might take a little time. Please be patient.',
                type: 'orange',
                useBootstrap: true,
                typeAnimated: true,
                buttons: {
                  delete: {
                    text: 'Ok',
                    btnClass: 'btn-green',
                    action: function(){
                      return location.href = '/addMetadata?idFile=' + getSelectedRow().id;
                    }
                  },
                  cancel: function(){
                  }
                }
              });
            } 
          }else {
            $.alert({
              title: 'Alert!',
              content: 'Select one row and then press the button Add',
              useBootstrap: true,
              typeAnimated: true
            });
          }          
        });
    });

    function getSelectedRow() {
        var index = $table.find('tr.success').data('index');
        return $table.bootstrapTable('getData')[index];
    }
  });
</script>
{% endblock %}
