{% extends "layout.html" %}

{% block body %}
  <form id="metadataInfoForm" name="metadataInfoForm" class="form-style" method="GET" action="/modify/{{ dataset.identifier }}">
    <div class="row content">
      <div class="col-md-1">
      </div>
      {% if g.user %}
        <div class="buttonForm">
          <button type="submit" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i> Modify
          </button>
          <button type="button" class="btn btn-danger" onclick="deleteButton()">
            <i class="glyphicon glyphicon-trash"></i> Delete
          </button>
        </div>
      {% endif %}
    </div>
    <div class="row content">
      <div class="col-md-1">
      </div>          
      <div class="col-md-10 field-title">
        {{dataset.title}} <label id="labelIdentifier" class="label-identifier">({{dataset.identifier}})</label>
      </div>
      <div class="col-md-1">
      </div>
    </div>
    <div class="row content">
      <div class="col-md-1">
      </div> 
      <div class="col-md-10 metadata-info">
        <table class="tableMetadataInfo">
          <thead>
            <th class="labels-table"></th>
            <th class="info-table"></th>
          </thead>
          <tbody>
            <tr style='display: none;'>
              <td>
                <label class="label-tableInfo" for="identifier">Identifier:</label>
              </td>
              <td colspan="4">
                <input type="text" class="form-control" id="identifier" name="identifier" value="{{dataset.identifier}}">
              </td>
            </tr>
            <tr style='display: none;'>
              <td>
                <label class="label-tableInfo" for="title">Title:</label>
              </td>
              <td colspan="4">
                {{ dataset.title }}
              </td>
            </tr>
            <tr>
              <td>
                <label class="label-tableInfo" for="description">Description:</label>
              </td>
              <td colspan="4">
                {{ dataset.description }}
              </td>
            </tr>
            <tr>
              <td>
                <label class="label-tableInfo" for="subject">Subject:</label>
              </td>
              <td class="col-md-6">
                {% set tokens = dataset.subject.split(", ") %}
                {% for tok in tokens: %}
                  {% set subjects = tok.split(" -- ") %}
                    <div class="AgentThumb">
                      <div class="agentThumbInnerBodySubject">
                        <div class="agentThumbName">
                          <a href="{{subjects[1]}}" target="_blank">{{subjects[0]}}</a>
                        </div>
                      </div>
                    </div>
                {% endfor %}
              </td>
            </tr>
            <tr>
              <td>
                <label class="label-tableInfo" for="keywords">Keywords:</label>
              </td>
                <td class="col-md-6">
                {% set tokens = dataset.keywords.split(", ") %}
                {% for tok in tokens: %}
                  {% set keywords = tok.split(" -- ") %}
                    <div class="AgentThumb">
                      <div class="agentThumbInnerBodyKeyword">
                        <div class="agentThumbName">
                          <a href="{{keywords[1]}}" target="_blank">{{keywords[0]}}</a>
                        </div>
                      </div>
                    </div>
                {% endfor %}
              </td>
            </tr>
            <tr>
              <td>
                <label class="label-tableInfo" for="standards">Standards:</label>
              </td>
              <td colspan="4">                            
                {{ dataset.standards }}
              </td>
            </tr>
            <tr>
              <td>
                <label class="label-tableInfo" for="data_format">Data Format:</label>
              </td>
              <td colspan="4">                            
                {{ dataset.formats }}
              </td>
            </tr>
            <tr>
              <td>
                <label class="label-tableInfo" for="language">Language:</label>
              </td>
              <td class="col-md-6">
                {% set languages = dataset.language.split(", ") %}
                {% for language in languages: %}
                  <div class="AgentThumb">
                    <div class="agentThumbInnerBodylanguage">
                      <div class="agentThumbName">
                        <a href="http://id.loc.gov/vocabulary/iso639-2/{{language}}" target="_blank">{{language}}</a>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </td>
            </tr>
            <tr>
              <td>
                <label class="label-tableInfo" for="homepage">Homepage:</label>
              </td>
              <td colspan="4">
                {% if dataset.homepage != "" %}
                  <a href="{{ dataset.homepage }}" target="_blank">Homepage Link</a>
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>
                <label class="label-tableInfo" for="publisher">Publisher:</label>
              </td>
              <td colspan="4">
                {{ dataset.publisher }}
              </td>
            </tr>
            <tr>
              <td>
                <label class="label-tableInfo" for="source">Source:</label>
              </td>
              <td colspan="4">
                {{dataset.source}}
              </td>
            </tr>
            <tr>
              <td>
                <label class="label-tableInfo" for="observations">Observations:</label>
              </td>
              <td colspan="4">
                {{dataset.observations}}
              </td>
            </tr>
            <tr>
              <td>
                <label class="label-tableInfo" for="storageTable">Storage Table:</label>
              </td>
              <td colspan="4">
                {% if dataset.storageTable|default("") != "": %}
                  <div class="AgentThumb">
                    <div class="agentThumbInnerBodyStorage">
                      <div class="agentThumbName">
                        {{dataset.storageTable}}
                      </div>
                    </div>
                  </div>
                {% endif%}
              </td>
            </tr>
            <tr>
              <td>
                <label class="label-tableInfo" for="access_rights">Access Rights:</label>
              </td>
              <td colspan="4">
                {{ dataset.accessRights }}
              </td>
            </tr>
            <tr>
              <td>
                <label class="label-tableInfo" for="license">License:</label>
              </td>
              <td colspan="4">
                {% if dataset.license.startswith( 'http' ) %}
                  <a href="{{ dataset.license }}" target="_blank">License Link</a>
                {% else %}
                  {{ dataset.license }}
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>
                <label class="label-tableInfo" for="issued_date">Issued Date:</label>
              </td>
              <td colspan="4">
                {{ dataset.issuedDate }}
              </td>
            </tr>
            <tr>
              <td>
                <label class="label-tableInfo" for="modified_date">Modified Date:</label>
              </td>
              <td colspan="4">
                {{ dataset.modifiedDate }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-1">
      </div>
    </div>
    <div class="row content">
      <div class="col-md-1">
      </div>
      <div class="col-md-10 metadata-spatial">
        <table class="tableMetadataInfo">
          <thead>
            <th class="labels-table"></th>
            <th colspan="4" class="info-table"></th>
          </thead>
          <tbody>
            <tr>
              <td>
                <label class="label-tableInfo" for="geoLocation">Geographic Location:</label>
              </td>
              <td colspan="4" class="col-md-6">         
                {% if dataset.geoLocation|default("") != "": %}
                  {% set tokens = dataset.geoLocation.split(", ") %}
                  {% for tok in tokens: %}
                    {% set geoLocation = tok.split(" -- ") %}       
                      <div class="AgentThumb">
                        <div class="agentThumbInnerBodyGeoLoc">
                          <div class="agentThumbName">
                            <a href="{{geoLocation[1]}}" target="_blank">{{geoLocation[0]}}</a>
                          </div>
                        </div>
                      </div>
                  {% endfor %}
                {% endif%}
              </td>
            </tr>
            <tr>
              <td rowspan="2">
                <label class="label-tableInfo">Geographical Coverage:</label>
              </td>
              <td class="col-md-2">
                <label class="label-table-coordinatesInfo" for="geo_coverageW">West:</label>
              </td>
              <td class="col-md-2">
                {{ dataset.spatialWest }}
              </td>
              <td class="col-md-2">
                <label class="label-table-coordinatesInfo" for="geo_coverageE">East:</label>
              </td>
              <td class="col-md-2">
                {{ dataset.spatialEast }}
              </td>
            </tr>
            <tr>
              <td class="col-md-2">
                <label class="label-table-coordinatesInfo" for="geo_coverageS">South:</label>
              </td>
              <td class="col-md-2">
                {{ dataset.spatialSouth }}
              </td>
              <td class="col-md-2">
                <label class="label-table-coordinatesInfo" for="geo_coverageN">North:</label>
              </td>
              <td class="col-md-2">
                {{ dataset.spatialNorth }}
              </td>
            </tr>
            <tr>
              <td>
                <label class="label-tableInfo" for="coordinate_sys">Coordinate Reference System:</label>
              </td>
              <td colspan="4">
                {{ dataset.coordinateSystem }}
              </td>
            </tr>
            <tr>
              <td rowspan="2">
                <label class="label-tableInfo">Vertical Coverage:</label>
              </td>
              <td colspan="1">
                <label class="label-tableInfo" for="vert_coverage_from">From:</label>
              </td>
              <td colspan="3">
                {{ dataset.verticalCoverageFrom }}
              </td>
            </tr>
            <tr>
              <td colspan="1">
                <label class="label-tableInfo" for="vert_coverage_to">To:</label>
              </td>
              <td colspan="3">
                {{ dataset.verticalCoverageTo }}
              </td>
            </tr>
            <tr>
              <td>
                <label class="label-tableInfo" for="vertical_level">Vertical Level:</label>
              </td>
              <td colspan="4">
                {{ dataset.verticalLevel }}
              </td>
            </tr>
            <tr>
              <td rowspan="2">
                <label class="label-tableInfo" for="temp_coverage_begin">Temporal Coverage:</label>
              </td>
              <td colspan="1">
                <label class="label-tableInfo" for="temp_coverage_end">Begin:</label>
              </td>
              <td colspan="3">
                {{ dataset.temporalCoverageBegin }}
              </td>
            </tr>
            <tr>
              <td colspan="1">
                <label class="label-tableInfo" for="temp_coverage_end">End:</label>
              </td>
              <td colspan="3">
                {{ dataset.temporalCoverageEnd }}
              </td>
            </tr>
            <tr>
              <td>
                <label class="label-tableInfo" for="time_resolution">Time Resolution:</label>
              </td>
              <td colspan="4">
                {{ dataset.timeResolution }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-1">
      </div>
    </div>
    <div class="row content">
      <div class="col-md-1">
      </div>
      <div class="col-md-10 metadata-variables">
        <table class="table table-bordered" id="tbl_posts" style="table-layout: fixed;">
          <thead>
            <tr>
              <th></label>Dataset Variable</th>
              <th></label>BDO Variable</th>
              <th style="width: 150px;"></label>Unit Variable</th>
            </tr>
          </thead>
          <tbody id="tbl_posts_body">
            {% for x in dataset.variable: %}
            {% set list = x.split(" -- ") %}
              <tr id="rec-{{ loop.index0 +1 }}">
                <td>
                  <span class="variablesspan">{{ list[0] }}</span>
                </td>
                <td>
                  <span class="variablesspan">
                    <a href="{{ list[3] }}" target="_blank">{{ list[2] }}</a>
                  </span>
                </td>
                <td>
                  {% if list[1] == "": %}
                    <span class="variablesspan">-</span>
                  {% else: %}
                    <span class="variablesspan">{{ list[1] }}</span>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div style="display:none;">
          <table id="sample_table">
            <tr id="">
             <td>
              <input type="text" class="form-control" id="parser_variable" name="parser_variable">
             </td>
             <td>
              <input type="text" class="form-control-autocomplete" id="json_variable" name="json_variable">
             </td>
             <td>
              <input type="text" class="form-control" id="unit_variable" name="unit_variable">
             </td>
             <td>
              <center>
                <a class="btn btn-xs delete-record" data-id="0"><i class="glyphicon glyphicon-remove glyphiconRemove"></i></a>
              </center>
            </td>
           </tr>
         </table>
       </div>
      </div>
      <div class="col-md-1">
      </div>
    </div>
    {% if g.user %}
      <div class="row content">
        <div class="col-md-1">
        </div>
        <div class="buttonForm">
          <button type="submit" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i> Modify
          </button>
          <button type="button" class="btn btn-danger" onclick="deleteButton()">
            <i class="glyphicon glyphicon-trash"></i> Delete
          </button>
        </div>
      </div>
    {% endif %}
  </form>
{% endblock %}

{% block extracssjs %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/jquery-confirm.css">

  <script src="../static/js/jquery-3.2.1.min.js"></script>
  <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" ></script>
  <script src="../static/js/jquery-confirm.js"></script>
  <script type="text/javascript" src="../static/js/metadataInfoscript.js"></script>
{% endblock %}