{% extends "layout.html" %}

{% block body %}
  <div class="row content">
    <div class="col-md-12 field-title">
      BigDataOcean Harmonization SPARQL Enpoint
    </div>
  </div>
  <div class="row content">
    <div class="col-md-9 metadata-info" style="margin-bottom: 10px;">
      <h2 style="font-size: 24px; margin: auto;" class="aboutGroupName">SPARQL</h2>
      <div id="yasqe"></div>
      <div id="yasr"></div>
    </div>
    <div class="col-md-3 api-info">
      <div class="h-padding">
        <h2 style="font-size: 1.5em; font-weight: bold;">Data Dump</h2>
        <div class="line"></div>
        <div style="margin-top: 10px; font-size: 1.3em;"><a href="/static/bdoExample.n3" target="_blank" style="display: table; "><img src="static/img/n3_small.gif" style="width:61px; height:38px"><span class="aside-link"> BDO Example</span></a></div>
        <div class="clear"></div>
        <h2 style="font-size: 1.5em; font-weight: bold;">APIs</h2>
        <div class="line"></div>
        <div style="margin-top: 10px; font-size: 1.3em;"> <span>Consider using </span><a class="aside-link" href="/api">APIs</a><span> when appropriate</span></div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extracssjs %}
  <script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>

  <link href='static/css/yasqe.min.css' rel='stylesheet' type='text/css'/>
  <link href='static/css/yasr.min.css' rel='stylesheet' type='text/css'/>
  <script src='/static/js/yasr.bundled.min.js'></script>
  <script src='/static/js/yasqe.bundled.min.js'></script>
  <script src="/static/js/glueYasr_Yasqe.js"></script>

  <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
  <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
{% endblock %}