<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>BigDataOcean Harmonization </title>
  <link rel='icon' href='/static/img/BIG-DATA-OCEAN_LOGO.ico'>
</head>

<body>
  <nav class="navbar navbar-bdo navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <div class="icon">
                <a id="logo" title="BigDataOcean Repository" href="/">
                    <img itemprop="image" alt="BigDataOcean Repository" src="static/img/BIG-DATA-OCEAN_LOGO.png" height="86" width="200">
                </a>
            </div>
            <div class="bdotitle label-table">
                <h1>Big Data Ocean - Dataset Harmonization</h1>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
        </div>
    </div>
  </nav>
  <div class="container text-center" style="margin-top:90px">
    <div class="row content">
      <div class="col-md-12 field-title">
        BigDataOcean Harmonization SPARQL Enpoint
      </div>
    </div>
    <div class="row content">
      <div class="col-md-9 metadata-info">
        <h2 style="font-size: 24px; margin: auto;" class="aboutGroupName">SPARQL</h2>
        <div id="yasqe"></div>
        <div id="yasr"></div>
      </div>
      <div class="col-md-3 api-info">
        <div class="h-padding">
          <h2 style="font-size: 1.5em; font-weight: bold;">APIs</h2>
          <div class="line"></div>
          <div style="margin-top: 10px; font-size: 1.3em;"> <span>Consider using </span><a class="aside-link" href="/api">APIs</a><span> when appropriate</span></div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>       
  <footer class="container-fluid text-center">
    <div class="wrpl"><a href="http://www.bigdataocean.eu/site/">
        <dl>
          <dt><img class="BDO_logo" src="/static/img/BIG-DATA-OCEAN_LOGO.png"></dt>
          <dd><strong>Big Data Ocean</strong></dd>
        </dl></a></div>
    <div class="wrpl"><br>
      <div class="bookmarks"><b>Documentation</b>
        <ul>
          <li><a href="/api" title="API documentation">API documentation</a></li>
          <li><a href="https://github.com/SmartDataAnalytics/BigDataOcean-Harmonization" title="Source in GitHub" target="_blank">Source code</a></li>
        </ul>
      </div>
      <div class="bookmarks"><b>Publication</b>
        <ul>
          <li><a href="https://doi.org/10.5281/zenodo.833359" title="BigDataOcean" target="_blank">IEEE '17</a></li>
        </ul>
      </div>
    </div>
  </footer>
</body>

<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

<link href='static/css/yasqe.min.css' rel='stylesheet' type='text/css'/>
<link href='static/css/yasr.min.css' rel='stylesheet' type='text/css'/>
<script src='/static/js/yasr.bundled.min.js'></script>
<script src='/static/js/yasqe.bundled.min.js'></script>
<script src="/static/js/glueYasr_Yasqe.js"></script>

<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="static/css/style.css">
<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

</html>
