{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="en"{% endblock %}

{% block title %} BigDataOcean Harmonization {% endblock %}
{% block styles %}
{{super()}}<link rel='icon' href='/static/img/BIG-DATA-OCEAN_LOGO.ico'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="static/css/bootstrap-tagsinput.css">
<link rel="stylesheet" href="static/css/style.css">
<script src="static/js/jquery-3.2.1.min.js"></script>
<script src="static/js/script.js"></script>
<script src="static/js/bootstrap-tagsinput.js"></script>
<script src="static/js/Bloodhound.js"></script>
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-bdo navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <div class="icon">
                <table class="container">
                    <tr>
                        <td>
                            <a id="logo" title="BigDataOcean Repository" href="">
                                <img itemprop="image" alt="BigDataOcean Repository" src="static/img/BIG-DATA-OCEAN_LOGO.png" height="86"
                                     width="200">
                            </a>
                        </td>
                        <td class="label-table">
                            <h1>Big Data Ocean - Dataset Harmonization</h1>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
        </div>
    </div>
</nav>
{% endblock %}
{% block content %}
<div class="container text-center" style="margin-top:90px">
    <div class="row content">
        <div class="col-md-1">
        </div>
        <div class="col-md-10 field-uri">
            <p style="font-size:36px;color:white">This page does not exist!</p>
        </div>
        <div class="row content">
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>
{% endblock %}