{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="en"{% endblock %}

{% block title %} BigDataOcean Harmonization {% endblock %}
{% block styles %}
{{super()}}
<link rel='icon' href='/static/img/BIG-DATA-OCEAN_LOGO.ico'>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="static/css/bootstrap-tagsinput.css">
<link rel="stylesheet" href="static/css/bootstrap-tokenfield.css">
<link rel="stylesheet" href="static/css/tokenfield-typeahead.css">
<link rel="stylesheet" href="static/css/style.css">

<script src="static/js/jquery-3.2.1.min.js"></script>
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" ></script>
<script src="static/js/Bloodhound.js"></script>
<script src="static/js/bootstrap-tagsinput.js"></script>
<script src="static/js/bootstrap-tokenfield.js"></script>
<script src="static/js/typeahead.bundle.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>

{% endblock %}
{% block navbar %}
<nav class="navbar navbar-bdo navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <div class="icon">
                <a id="logo" title="BigDataOcean Repository" href="http://localhost:5000/">
                    <img itemprop="image" alt="BigDataOcean Repository" src="static/img/BIG-DATA-OCEAN_LOGO.png" height="86" width="200">
                </a>
            </div>
            <div class="bdotitle label-table">
                <h1>Big Data Ocean - Dataset Harmonization</h1>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
        </div>
    </div>
</nav>
{% endblock %}
{% block content %}
<div class="container text-center" style="margin-top:90px">
    <div class="row content metadata-row" id="metadata">
        <div class="col-md-1">
        </div>
        <div class="col-md-10 metadata-info">
            <form id="metadataForm" name="form-metadata" class="form-style" method="post" action="http://localhost:5000/save">
                <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Mandatory fields!</strong> Title, Description and Type are mandatory fields.
                </div>
                {%if dataset!="":%}
                <table class="tableMetadata">
                    <tr>
                        <td>
                            <label class="label-table" for="title">Title:</label>
                        </td>
                        <td colspan="8">
                            <input type="text" class="form-control" id="title" name="title" required value="{{ dataset.title }}">
                        </td>
                    </tr>
                </table>
                {%else:%}
                <table class="tableMetadata">
                    <tr>
                        <td>
                            <label class="label-table" for="title">Title:</label>
                        </td>
                        <td colspan="8">
                            <input type="text" class="form-control" id="title" name="title" required>
                        </td>
                    </tr>
                </table>
                {%endif%}
            <div class="buttonForm">
                <button type="submit" class="btn btn-default">Save</button>
                <button type="button" class="btn btn-danger" onclick="cancelButton()">Cancel</button>
            </div>
        </form>
    </div>
    <div class="col-md-1">
    </div>
</div>
<div class="row content">
</div>
</div>

<footer class="container-fluid text-center">
  <a class="footer" href="http://www.bigdataocean.eu/site/">Big Data Ocean</a>
</footer>
<!--
<script type="text/javascript">
    $('#tokenfield').tokenfield({
      autocomplete: {
        source: ['red','blue','green','yellow','violet','brown','purple','black','white'],
        delay: 100
      },
      showAutocompleteOnFocus: true
    });

</script>
-->
{% endblock %}